// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    background-color: #fff;
    border-radius: 3px;
    color: #0076ac;
    font-size: 1em;
    font-weight: 300;
}