// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------
.card-header {
    background-color: #fff;
    border-bottom: 1px solid #f8f9ff;
    font-weight: 400
}