form {
    font-weight: 300;
    label {

    }
    .text-muted {
        color: #b0b0b0;
    }

    input::-webkit-input-placeholder {
        color: #999;
        font-weight: 300;
        font-size: .9em;
    }
    
    ::-moz-placeholder {
        color: #999;
        font-weight: 300;
        font-size: .9em;
    }
    
    :-ms-input-placeholder {
        /** notice that ie has only a single colon) */
        color: #999;
        font-weight: 300;
        font-size: .9em;
    }
    
    ::-webkit-input-placeholder {
        color: #999;
        font-weight: 300;
        font-size: .9em;
    }
    
    ::placeholder {
        color: #999;
        font-weight: 300;
        font-size: .9em;
    }

    .js-example-basic-single {
        font-size: .8em;
    }
}

.select2-container .select2-selection--single {
    height: 38px !important;
    border: 1px solid #ddd !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}