// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@use '../abstracts';
.admin-template {
    #content {
        background-color: rgb(240, 241, 241);
    }
    .bg-gradient-primary {
        background-color: #002a48;
        background-image: none;
        background-size: cover;
    }
    .page-header {
        font-weight: 500;
        font-size: 1em;
        color: #000;
        padding-left: 10px;
        font-weight: 500;
    }

    footer.sticky-footer {
    padding: 1rem 0;
    flex-shrink: 0;
    }
    
    .device-list {
        .device-link:hover {
            text-decoration: none;
            .device-item {
                cursor: pointer;
                background-color: #f7f7f7;
                font-style: none;
                box-shadow: 3px #cecece;
            }
        }
        .device-item {
            border: 1px dashed #cecece;
            padding: 10px 5px;
            margin-bottom: 10px;
            border-radius: 10px;
            .item-name {
                font-size: 1.5em;
                padding: 10px 0;
                font-weight: 400;
                color: abstracts.$title-color;
                span.status {
                   
                    border-radius: 5px;
                    font-weight: 300;
                    padding: 2px 10px;
                    color: #fff;
                    font-size: .5em;
                }
            }
            .item-counter {
                font-size: 1em;
                font-weight: 300;
                color: #004e7e;
                padding: 0;
                margin-right: 20px;
            }

            img.device-img {
                max-width: 100px;
                
            }
        }
    }
    
    .device-info {
        .info-list-row {
            border-bottom: 1px solid #e6e6e6;
            h6 { 
                font-weight: 300;
                padding: 10px 0;
                margin: 0;
            }
            .info-value::before {
                content: ': ';
            }
        }
    }

    .report-table {
        .card-header .title {
            font-size: 17px;
            color: #000;
        }
        .card-header .accicon {
          float: right;
          font-size: 20px;  
          width: 1.2em;
        }
        .card-header{
          cursor: pointer;
          border-bottom: none;
        }
        .card{
          border: 1px solid #ddd;
        }
        .card-body{
          border-top: 1px solid #ddd;
        }
        .card-header:not(.collapsed) .rotate-icon {
          transform: rotate(180deg);
        }
    }

    .accodi-help {
        color: abstracts.$title-color;
        text-align: justify;
        border-bottom: 0.5px solid #d5eeff;
    }
}